:root {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
        'Open Sans', 'Helvetica Neue', sans-serif;
}
html,
body {
    height: 100vh;
    width: 100vw;
}
body {
    display: grid;
    grid-template: 75px 1fr / 1fr 4fr;
    grid-template-areas:
        'header header'
        'sidebar main-content';
}

.header {
    grid-area: header;
    background-color: #6b21a8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: white;
    font-size: 1.5em;
}

.sidebar {
    grid-area: sidebar;
    background-color: hsl(210, 40%, 96%);
}

.content {
    grid-area: main-content;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
}

.project {
    position: relative;
    display: flex;
    justify-content: flex-start;
}

.project-btn {
    appearance: none;
    background: none;
    border: none;
    font-size: 1.3rem;
    text-align: left;
    padding: 20px 0px 20px 40px;
    width: 100%;
    cursor: pointer;
}

li:first-child button::before {
    content: '';
    width: 24px;
    height: 24px;
    position: absolute;
    left: 15px;
    background: url(../img/today.svg);
}

.project:hover {
    background-color: hsl(210, 40%, 90%);
}

.project-divider {
    display: flex;
    align-items: center;
    gap: 15px;
    padding-left: 10px;
    font-size: 1.5rem;
    font-weight: bold;
}

.project-divider > .add {
    background-color: hsl(210, 40%, 90%);
    padding: 15px;
    border-radius: 20px;
    width: 50px;
    margin: 10px 0px;
}

.content {
    padding: 0px 30px;
}

.content-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: hsl(210, 40%, 96%);
    margin: 0px 30px 20px 30px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 2px 2px 3px gray;
}

.task-right,
.task-left {
    display: flex;
    align-items: center;
    gap: 20px;
}

.clickable-btn {
    appearance: none;
    border: none;
    background: none;
    width: 24px;
    height: 24px;
}

.unchecked {
    background: url('../img/unchecked-box.svg') no-repeat center center;
}

.edit {
    background: url('../img/edit.svg') no-repeat center center;
}

.delete {
    background: url('../img/delete.svg') no-repeat center center;
}

.add {
    background: url('../img/add.svg') no-repeat center center;
}

.drop-down {
    background: url('../img/drop-down.svg') no-repeat center center;
}

.cancel {
    background: url('../img/close.svg') no-repeat center center;
    position: absolute;
    top: 5px;
    right: 5px;
}

.add-task {
    background-color: hsl(210, 40%, 96%);
    position: relative;
    padding: 20px;
    width: 100px;
    border-radius: 20px;
    box-shadow: 1px 1px 2px gray;
}

textarea {
    resize: none;
}

.form-row {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

input,
textarea {
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
}

fieldset {
    border: none;
    margin-left: -10px;
}
dialog {
    border: none;
    background-color: hsl(210, 40%, 96%);
    border-radius: 10px;
}
